.container {
	background-color: lightgray;
	color: black;
}

#TrueNumber{
	color: red;
	size: 30px;
	font: 800;
}

#CystalBox{
	height: 400px;
}

div {
	text-align: center;
	padding: 10px;
}

button {
	size: 200px,200px,200px,200px;
}
